html {
    background: darkgrey;
    padding: 10px;
    height: 700px;
}

body {
    display: flex;
    flex-wrap: wrap;
}

/*Flexbox*/

.parent {
    background-color: darkkhaki;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10px;
    padding: 20px;
    width: 468px;
    height: 160px;
    border-radius: 6px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    
}

.kid {
    width: 78px;
    height: 78px;
    background-color: darkorange;
    border-radius: 4px;
    margin: 5px;
}

.parent-two {
    background-color: lightpink;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10px;
    padding: 20px;
    width: 468px;
    height: 160px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kid-two {
    background-color: #FFFFFF;
    margin: 10px;
    border-radius: 4px;
    width: 78px;
    height: 120px;   
}

.parent-three {
    background-color: mediumblue;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10px;
    padding: 20px;
    width: 468px;
    height: 160px;
    border-radius: 6px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.kid-three {
    background-color: midnightblue;
    width: 78px;
    height: 78px;
    margin: 10px;
    border-radius: 4px;
}

.parent-four {
    background-color: salmon;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10px;
    padding: 20px;
    width: 468px;
    height: 160px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}

.kid-four {
    background-color: seagreen;
    width: 78px;
    height: 78px;
    margin: 10px;
    border-radius: 4px;
}

.kid-four-emo {
    background-color: seagreen;
    width: 78px;
    height: 78px; 
    margin: 10px;
    align-self: flex-end;
    border-radius: 4px;
}

.parent-five {
    background-color: yellow;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10px;
    padding: 20px;
    width: 468px;
    height: 160px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kid-five {
    background-color: violet;
    width: 78px;
    height: 120px;
    margin: 10px;
    border-radius: 4px;
}

.kid-five-baby {
    background-color: violet;
    width: 78px;
    height: 64px;
    margin: 10px;
    border-radius: 4px;
}

.parent-six {
    background-color: whitesmoke;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10px;
    padding: 20px;
    width: 468px;
    height: 160px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kid-six {
    background-color: tomato;
    width: 78px;
    height: 78px;
    margin: 10px;
    border-radius: 4px;
}

.kid-six-fat {
    background-color: tomato;
    width: 156px;
    height: 78px;
    margin: 10px;
    border-radius: 4px;
}